body {
    background-color:rgba(209, 207, 207, 0.49);
}

h1 {
    display: inline;
    position:center;
    font-size: 4.8vw;
    color: rgba(147, 22, 22, 0.86);
    font-family: "Anton", Serif;
    text-shadow: 0 1px 1px black;
    background: rgba(128, 128, 128, 0.47);
    border: 0.05em solid black;
}

#menu{
    margin-top: 5.6vw;
    width: 150px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    overflow: auto;
    background: rgba(128, 128, 128, 0.47);
}

.pure-menu-heading {
        background: rgba(147,22,22,1);
        color: #ffffff;
    }